body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-class{
    color: orange;
}

.Hire{
    text-decoration: none;
    border: 1px solid white;
    background-image: linear-gradient(orange, red);
    color: aliceblue;
    font-weight: 700;
    width:150px;
    text-align: center;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner{
    display: flex;
   
}
.box-1{
    width: 50%;
    padding-left: 2%;
}

.box-1 img{
    width: 80%;
}

.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 7rem;
    
}

.middle-part{
    display: flex;
    margin-top: 3rem;
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.box-2{
    width: 50%;
    padding-left: 9%;
    padding-right: 9%;
    
}

.resume{
    margin-top: 3rem;
    text-decoration: none;
    background-image: linear-gradient(yellow, orange);
    color: gray;
    font-weight: 700;
    padding: 10px 40px;
}

.last-part{
    display: flex;
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 9%;
    margin-bottom: 5rem;
}

.orange-color{
    color: orange;
}

.box-3{
    width: 40%;
    margin-left: 3%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 30px gray;
    
}

#full-stack{
    border-left: 7px solid tomato;
    border-radius: 10px;
}

#baby-stack{
    border-left: 7px solid blue;
    border-radius: 10px;
}

.last{
    text-align: center;
    font-weight: 400;
}
